
body{
  margin: 0px;
  padding: 0px;
  
  
  
}
button:hover {
    background-color: #514988;
    cursor:pointer;
    color:#FFD900

}

header {
  background-color: #FFD900;
  display: flex;
}
header img{
    margin-top: 25px;
    margin-bottom: 30px;
    margin-left: 20px;
}
.card{
  background-color: #514988;
  display: grid;
  border-radius: 0px;
  height: 600px;
  font-size: 20px;
  width: 900px;
  color: white;
  
}
video{
    width: 1000px;
    height: 400px;
    display: grid;
    grid-auto-flow: column;
    
    
}

.container{
  
  margin-right: 0px;
  margin-left: 0px;
  background-color: white;
  display: grid;
  grid-auto-flow: column;
  text-align: center;
  width: 100%;
  width: 740px;
  padding: 0%;
}

h1 {
  color: #FFD900;
  font-size: 80px;
  margin-top: 30px;
}
h6{
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}
p{
  margin-bottom: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}

footer{
  height: 200px;
  margin-top: 0px;
  display: grid;
  grid-auto-flow: column;
  margin-left: 250px;
  margin-bottom: 50px;
}
button{
  
  background-color: #514988;
  color: white;
  border: none;
  border-radius:20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 150px;
  font-size: 40px;
  width: 500px;
  margin-top: 0px;
  align-items: center;
  margin-left: 300px;
  
}
#textoFooter{
  color: #F3C61F;
  font-size: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 0px;
  margin-bottom: 10px;
  width: 2000px;
  
}

.timer{
  display: grid;
  grid-auto-flow: column ;
  margin-top: 0px;
  width: 800px;
  margin-left: 100px;
  

}
.timer h1{
  color: #514988;
  font-weight: bold;
  font-size: 60px;
  
}

#textPink{
  color: rgb(209, 15, 118);
  text-align: justify;
  margin-left: 150px;
  
}

.card-highLight
{
  box-shadow: 10px 10px 10px 10px gray;
}

.card-selected{
  border: 5px solid green;
}

input{
  
  background-color: #514988;
  border-radius: 10px;
  color: #ffffff;
  border: 0px;
  margin: 30px;
  width: 300px;
  height: 50px;
  font-size: 30px;
  margin-left: 100px;

}

form{
  background-color: #F3C61F;
 
}


  








